@keyframes move {
    0% {
        bottom: 30px;
    }

    50% {
        bottom: 35px;
    }

    100% {
        bottom: 30px;
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    color: #fff;
    background: #181818;
}

.header .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.header .inner img {
    height: 62px;
    object-fit: cover;
}

.header .inner h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb .left {
    margin: 0 0 0 150px;
    font-size: 16px;
    font-weight: 300;
}

.header .gnb .right {
    margin: 0 20px 0 0;
    font-size: 20px;
}

.gnb {
    display: flex;
    justify-content: space-between;
}

.header .gnb>.left>li {
    position: relative;
}

.header .gnb>.left>li::after {
    content: "";
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: 3px;
    background: #fff;
}

.header .gnb>.left>li:hover::after {
    width: 100%;
    transition: 0.5s;
}


.mainVisual {
    padding: 100px 0;
    margin: 0 auto;
}

.mainvideo .inner {
    position: relative;
    height: 969px;
}

.mainVisual .mainvideo .inner video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.mainVisual .mainvideo .inner video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.mainvideo .inner .tit {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 0 0 -600px;
    color: #fff;
    text-transform: uppercase;
    z-index: 999;
}

.mainVisual .mainvideo .tit p {
    font-size: 35px;
    font-weight: 500;
}

.mainVisual .mainvideo .tit h2 {
    font-size: 110px;
    font-weight: 700;
    text-indent: -7px;
}

.mainVisual .mainvideo .click {
    position: absolute;
    top: 400px;
    left: 50%;
    margin: 0 0 0 -600px;
    color: #fff;
    z-index: 999;

}

.mainVisual .mainvideo .click i {
    font-size: 80px;
}



.mainVisual .mainvideo .click_box i {
    position: absolute;
    top: 36%;
    left: 37%;
    font-size: 25px;

}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 1s infinite;
}

.scroll-down button {
    background: none;
    border: none;

}

.scroll-down i {
    color: #fff;
    font-size: 50px;

}

.main_slick {
    overflow: hidden;
    padding: 100px 0;
    margin: 0 auto;
    position: relative;
}

.main_slick .inner {
    margin: 0 -100px;
    text-align: center;
}

.tt {

    width: 500px;
    height: 1000px;

    transform: skew(-15deg);
    overflow: hidden;

    filter: grayscale(1);
    background: #000;
}

.tt .ig {
    width: 1000px;
    height: 1000px;
    background-image: url(../img/slick01.jpg);
    transform: skew(15deg) translate(-150px, 0);
}

.tt.on {
    position: relative;
    z-index: 999;
    width: 2000px;

    filter: grayscale(0);

}

.tt .tc {
    background-position: right bottom;
    height: 1000px;
    transition: background-position 1s;
}

.tt.on .tc {
    width: 1800px;
    height: 1000px;
    transform: skew(15deg) translate(-150px, 0);
    background-position: left bottom;
    /* transition: 3s; */
}

.tt .ig2 {
    width: 1000px;
    height: 1000px;
    background-image: url(../img/slick02.jpg);
    transform: skew(15deg) translate(-150px, 0);

}

.tt .ig3 {
    width: 1000px;
    height: 1000px;
    background-image: url(../img/slick03.jpg);
    transform: skew(15deg) translate(-150px, 0);
}

.content_row {
    padding: 100px 0;
    background: #f9f9f9;
    position: relative;
}

.content_row .inner {
    margin: 0 auto;
}

.content_row p {
    position: absolute;
    top: 23%;
    left: calc(50% - -5px);
    margin: 0 0 0 -600px;
    font-size: 40px;
    font-weight: 300;
    z-index: 999;
}

.content_row h2 {
    position: absolute;
    top: 29%;
    left: 50%;
    margin: 0 0 0 -600px;
    line-height: 100px;
    font-size: 100px;
    font-weight: 700;
    z-index: 999;
}

.main_slick .slick-arrow {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin: 0 0 0 -600px;
    z-index: 999;
    font-size: 0;
    border: 0;
    background: none;
}

.main_slick .slick-next {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #000;
}

.main_slick .slick-prev {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #000;
}

.img_box .con_img01 {
    width: 1900px;
    height: 600px;
    background: url(../img/con01.png) no-repeat center center/cover;
}

.img_box .con_img02 {
    width: 1900px;
    height: 600px;
    background: url(../img/con02.png) no-repeat center center/cover;
}

.carName {
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0 0 0 -600px;
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    transition-duration: 0ms;
}

.carName02 {
    position: absolute;
    top: 70%;
    left: 50%;
    margin: 0 0 0 -600px;
    color: #fff;
    font-size: 40px;
    text-indent: 7px;
    font-weight: 700;
    transition-duration: 0ms;
}